h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.header {
  padding-top: 0;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.nav-link,
.address .link {
  display: inline-block;
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
}

.address .link {
  color: #434455;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  min-width: 196px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.features-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: #f4f4fd;
}

.team-content {
  padding: 32px 16px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #2e2f42;
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.header .logo,
.nav-link,
.address .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.features-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.logo-footer {
  color: #f4f4fd;
}
